/docs/html

/.vs
/VS2022/.vs
/VS2022/Test/x64/Debug
/VS2022/Test/Test.vcxproj.user
/VS2022/x64/Debug
/VS2022/Test/x64/Release
/VS2022/x64/Release
/VS2022/Sources/StdExt Sources.vcxitems.user
.vscode/settings.json

/build
/out

# Apple Ignores
.DS_Store

# Xcode Ignores
/xCode/DerivedData/*
/xCode/StdExt.xcodeproj/xcuserdata
/xCode/StdExt.xcodeproj/project.xcworkspace/xcuserdata
/xCode/StdExt/StdExt.xcodeproj/xcuserdata/*
/xCode/Test/Test.xcodeproj/xcuserdata/*