/docs/html
/.vs
/VS2022/.vs
/VS2022/Test/x64/Debug
/VS2022/Test/Test.vcxproj.user
/VS2022/x64/Debug
/VS2022/Test/x64/Release
/VS2022/x64/Release
/VS2022/Sources/StdExt Sources.vcxitems.user
/build
/out
